*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }

  a {
    text-decoration: none;
    color: black;
  }

header {
    background-color: rgb(186, 245, 255);
    height: 165px;
    width: 100%;
    position: fixed;
    margin:0;
    padding: 0;
    background: rgb(214, 247, 126);
box-shadow: 0px 3px 7px 0px #999999, -707px 4px 113px -79px rgba(252, 255, 68, 0.514) inset;
z-index: 1000;
transition: all 0.5s;
}

header.scrolled {
    display: none;
    
}

.av-kim.scrolled {
    display: none; 
    
}

.nav.scrolled {
    display: none;
    
}

body {
    width: 100%;
    
    padding: 0;
    margin: 0;
    font-family: 'comic neue', 'anton', sans-serif, Arial, Helvetica, sans-serif;
    transition: all 0.5s;

    
}

.active {
    color: #6e6e6e;
    text-decoration-line: underline overline;
}

.main-view {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 165px;
    
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.header-content.scrolled {
    display: none;
}

.logo-container {
    margin-top: 2%;
    margin-left: 2%;
}

.header-logo {
    width: 80%;
}

.nav{
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    margin-top: 3%;
    transition: all 0.5s;

}

ul {
    display: flex;
    flex-direction: row;
    
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    text-transform: uppercase;
    font-size: larger;
    font-weight: 700;
}

li:hover {
    text-decoration: underline overline;
    cursor: pointer;
}

.hero-img-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding:0;
    background: url('/images/parkliv.jpg') center/contain no-repeat; /* Use the image as a background */
}

.hero-text-container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%; /* Adjust as needed */
    max-width: 700px; /* Adjust as needed */
    color: #000000; /* Set text color to contrast with the image */
}

.logo-display{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weekly-image-container{
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}



.weekly-image{
  object-fit: scale-down;
  width: 100%;
  box-shadow: -5px 1px 15px -3px;
}

.weekly-image:hover{
  transform: scale(1.13);
  transition: ease-in 300ms;
}

.image-fit {
  object-fit: scale-down;
}

.nytt-bilde-tekst {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.underline{
  border: 1px solid black;
  width: 50%;
  margin-left: 25%;
}


/*KUNSTVERKSIDEN STARTER HER*/


  
  .gallery {
    /* margin: 0 auto; */
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    grid-auto-rows: auto;
    gap: 50px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .image {
    width: 100%;
    display: block;
    box-shadow: 3px 5px 20px -10px;
    /* background-color: #eeeeee; */
    position: relative;
    /* overflow: hidden; */
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    
  }

  .image-text-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }

  .image-info-text{
    padding: 10px;
  }

  .pris {
    font-size: x-large;
    }

  .image-fit {
    width: 100%;
  }
  
  .image:hover {
    transform: scale(1.1);
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 155px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    max-width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    
  }
  
  .close {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }

  /*FOOTER*/

  .footer-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgb(214, 247, 126);

    margin-top: 20%;
    margin-bottom: 0;
  }

  .footer-logo-container{
    padding: 10px;
  }

  .footer-logo{
    width: 8%;
  }
  
  .footer-content a{
    padding: 10px;
    font-size: large;
    font-style:italic;
    font-weight: 700;
    padding-bottom: 10px;
  
  }

  .footer-copyright{
    padding: 20px;
  }
  